a {
    color: #c56d79;
}

.blog-main {
    margin-bottom: 25px;
}

.delete, .like {
    display: inline;
}
.delete > button, .like > button {
     background:none!important;
     border:none;
     padding:0!important;
     font: inherit;
     color: #c56d79;
     cursor: pointer;
}

.profile {
    margin-bottom: 25px;
}

