{% extends 'base.html' %}
{% block content %}
    <div class="blog-post">
        <h2 class="blog-post-title">{{ post.subject }}</h2>
        <p class="blog-post-meta">{{ post.created.strftime('%B %-d, %Y') }} by {{ post.author.username }}</p>
        <p><span class="counts">{{likes.count()}} Likes</span>
        {% if post and  not post.author.key().id() == user.key().id()%}
            <form method="post" class="like" action="/{{ post.key().id()}}/like"><button>Like</button></form>
        {% endif %}
        </p>
        {{ post.html_text() | safe }}
    </div>
    <div class="blog-post">
        <ul class="list-group">
            {% for comment in comments %}
            <li class="list-group-item"><strong>{{ comment.author.username }}</strong>
                <p>{{ comment.content }}</p>
                <small>{{ comment.created.strftime('%B %-d, %Y')}}</small>
                <span class="links">
                    {% if user.key().id() == comment.author.key().id() %}
                    <a href="/comment/{{comment.key().id() }}"<span class="glyphicon glyphicon-edit">Edit</span></a>
                <form class="delete" method="post" action="/comment/{{comment.key().id() }}/delete">
                    <button><span class="glyphicon glyphicon-trash">Delete</span></button>
                </form>
                {% endif%}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if user %}
    <div class="blog-post">
        <form method="post" action="{{post.get_absolute_url()}}/comment">
            {% if post %}
            <input type="hidden" value="{{post.key().id() }}" name="post_id">{% endif%}
            <div class="form-group">
                <label class="sr-only" for="content">Comment</label>
                <textarea class="form-control" name="content" value="content" rows="5">{{ content }}</textarea>
            </div>
            <button type="submit" class="btn btn-default">Comment</button>
        </form>
    </div>
    {% else %}
    <div class="blog-post">
        <p>Want to comment? Then <a href="/account/login">Log In!</a></p>
    </div>
    {% endif %}
{% endblock%}
